# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# -*- mode: shell;-*-

if [ "$(uname)" == "FreeBSD" ] && [ -n "$(command -v gnuls)" ]; then
    alias ls='gnuls --color=auto'
fi

# Colors for ls/dir/grep
if  [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# I cannot live without these
alias ll='ls -l'
alias la='ls -A'
alias lla='ls -la'

# Obviously
alias more='less'

# I like human-readable!
alias df='df -h'

# Find large files
alias lrg='find . -type f 2>/dev/null -size +50000k -exec ls -lh {} \; | awk '"'"'{ print $9 ": " $5 }'"'"'' # What the fuck?

# For package management
alias pkg-in="sudo $PKG install"
alias pkg-rm="sudo $PKG remove"
alias pkg-up="sudo $PKG update"
alias pkg-ug="sudo $PKG upgrade"
alias pkg-ar="sudo $PKG autoremove" 
alias pkg-se="sudo $PKG search"
alias pkg-du="sudo $PKG dist-upgrade"
alias pkg-u="pkg-up; pkg-ug"

# specific

if [ $PKG == "pacman" ]; then
    alias pkg-in="sudo $PKG -S"
    alias pkg-rm="sudo $PKG -Rs"
    alias pkg-se="sudo $PKG -Ss"
    alias pkg-up="sudo $PKG -Syu"
    alias pkg-ar="sudo $PKG -Qdtq | $PKG -Rs -"
    alias pkg-u="pkg-up"
    alias pkg-ug="pkg-up"
    unalias pkg-du
elif [ $PKG == "pkg" ]; then
    unalias pkg-du
elif [ $PKG == "yum" ] || [ $PKG == "dnf" ]; then
    alias pkg-u="pkg-up"
    unalias pkg-du
fi

# Git shortcuts
alias gco='git commit -am'
alias gdi='git diff'
alias gcl='git clone'
alias gpu='git push'
alias gll='git pull'
alias gadd='git add'

alias visudo='sudo EDITOR=nano visudo'
alias crontab='EDITOR=nano crontab'

alias root='sudo -i'

# Fun 'n Games
if [ -n "$(command -v wine)" ] && [ $REMOTE == "0" ]; then
    alias quake='cd $C/GOG\ Games/Quake; wine Winquake.exe -nolan'
    alias doom='env WINEPREFIX="/home/ian/.wine" wine C:\\windows\\command\\start.exe /Unix /home/ian/.wine/dosdevices/c:/users/Public/Desktop/The\ Ultimate\ DOOM.lnk'
fi
